{% extends 'accounts/layout.html' %}
{% load humanize %}
{% block content %}
	<h3> {{ user }}'s Profile 	</h3>
	<h4> Order List (todo) </h4>

	<table class ="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Shop Name</th>
				<th>List</th>
				<th>Sum</th>
				<th>Order Date</th>
				
			</tr>
		</thead>
		<tbody>
			{% for order in user.order_set.all %}
			<tr>
				<td>{{ order.shop.name }}</td>
				<td>
					{% for item in order.item_set.all %}
						{{ item.name }}
					{% endfor %}
				</td>
				<td>{{ order.total|intcomma  }}</td>
				<td>{{ order.created_at }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
		
		
{% endblock %}