{% extends 'baemin/layout.html' %}

{% block content %}
	<h3>Store List</H3>
	
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Shop Name</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Order</th>
				
			</tr>
		</thead>
		<tbody>
			{% for shop in shop_list %}
			<tr>
				<td>{{ shop.name }}</td>
				<td>{{ shop.tel }}</td>
				<td>{{ shop.addr }}</td>
				<td><a href="#" class="btn btn-primary">Order</a></td>
				
			</tr>			
				
			{% endfor %}
		</tbody>
	</table/
	
{% endblock %}